.container__header {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    /*     border: 1px solid white; */
}

.user__name {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    font-weight: 700;
    color: #D9D9D9;
}