.login-container {
  padding: 20px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: top 0.3s, font-size 0.3s;
  font-size: 12px;
  color: #555;
}

.input-wrapper.focused label {
  top: 2px;
  font-size: 8px;
}

input {
  width: 220px;
  padding: 8px 10px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  outline: none;
}

.usarnameInput{
    font-size: 12px;
}

