.container__user {
    width: 95%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

.container {
    width: 50%;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #FFFF;
    padding: 34px 16px;

}

.container__header__list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.container__header__list h1 {
    font-size: 28px;
    font-weight: 600;
}

.container__subtitle h3 {
    font-size: 16px;
    font-weight: 500;
}

.container__table {
    color: #545A69;
    font-size: 14px;
    font-weight: 100;
}

.container__table table {
    width: 100%;
    border-collapse: collapse;
}

.container__table th,
.container__table td {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container__table td {
    font-weight: 400;
    padding: 10px 0;
    text-align: left;
}

.info_user {
    text-align: center;
}

.button-cell {
    text-align: center;
    vertical-align: middle;
}