.container {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

label {
    font-size: 12px;
    font-weight: 600;
    color: #000;

}

.container input {
    background-color: #fff;
    width: 400px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #DEDEDE;
    margin-bottom: 16px;
}