.container__profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: auto;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 16px;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 7%;
  
    text-decoration: none;

}

.container__name {
    border-bottom: 1px solid #D9D9D9;

}

.container__logout {
    display: flex;
    gap: 8px;
    padding: 8px;
    color: #000;

}
