.container__page {
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 22px;
    /* margin: 2% auto; */
}

.container__register {
    width: 40%;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #FFFF;
    padding: 34px 16px;

}

.container__dados input {
    gap: 16px;
}

.container__input {
    gap: 16px;
}

.titulo h1 {
    font-size: 22px;
    font-weight: 500;
}

.container__dados h2 {
    font-size: 16px;
    font-weight: 500;
}

.container__dados h3 {
    font-size: 12px;
    font-weight: 300;
}

.container__grupo h2 {
    font-size: 16px;
    font-weight: 500;
}