@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;

}

body {
    background-color: #2B2D42;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #2B2D42;
}

.container__profile {
    padding: 8px;
}

.container__profile a {
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    color: #D9D9D9;
}

.show {
    display: block !important;
}

.profile-menu {
    display: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 16px;
    z-index: 100;

}

.profile-menu p {
    padding: 4px;

}

.profile-menu a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 4px;

}

.container__principal {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

.container__options {
    padding: 34px 16px;
    background-color: #FFF;
    width: 50%;
    border-radius: 22px;
}

.container__options h1 {
    font-family: 32px;
    font-weight: 600;
    font-style: normal;
    padding: 16px;
}

.container__options__buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 22px;
}

.container__options__buttons a {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 24px 16px;
    border: 1px solid #000000;
    border-radius: 16px 8px;
}

.header-options {
    color: #D9D9D9;
    display: flex;
    align-items: center;
}
.header-options a{
    color: #D9D9D9;
}

.header-options-cad-log {
    display: flex;
    width: 180px;
    gap: 4px;
}