 .container__body {
   box-sizing: border-box;
   height: auto;
 }

 .painel-controle-container {
   padding: 3rem 4rem;
   background-color: white;
   border-radius: 22px;
   margin: 3% auto;
 }

 .painel-titulo {
   color: black;
   font-size: 32px;
   font-weight: 600;
   margin-bottom: 27px;
 }

 .botoes-container {
   padding: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 90px;
 }