.container__menu{
    width: 10rem;
    background-color: #EDF5FC;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    padding: 24px 18px;
    
}
.container__options h1{
    margin-top: 24px;
    font-size: 22px;
    font-weight: bold;

}
.container__options__home{
    display: flex;
    gap: 8px;
    font-size: 14px;
    padding: 16px;
    border-bottom: 1px solid #D5D5D5;
}
.container__options__produto{
    display: flex;
    gap: 8px;
    font-size: 14px;
    padding: 16px;
    border-bottom: 1px solid #D5D5D5;
}

.container__options__user{
    display: flex;
    gap: 8px;
    font-size: 14px;
    padding: 16px;
    border-bottom: 1px solid #D5D5D5;
}

.container__options__pedido{
    display: flex;
    gap: 8px;
    font-size: 14px;
    padding: 16px;
    border-bottom: 1px solid #D5D5D5;
}

